<!DOCTYPE html>
<html>
  <head>
    <meta lang="en" charset="utf-8" />
    <link
      rel="icon"
      size="16x16"
      type="image/ico"
      href="assets/resources/img/Google-Noto-Emoji-Objects-62858-closed-book.ico"
    />
    <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="vendors/css/grid.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendors/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500"
      rel="stylesheet"
    />
    <title>Bookshelf: Authors</title>
  </head>
  <body>
    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>
  </body>
</html>
