.btn:link,
.btn:visited,
input[type="submit"],
input[type="button"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"],
input[type="button"] {
  background-color: #1e88e5;
  border: 1px solid #1e88e5;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #1e88e5;
  color: #1e88e5;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:active {
  background-color: #1776ca;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"],
input[type="button"] {
  border: 1px solid #1e88e5;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #1e88e5;
  color: #fff;
}
