/*-------------------------*/

/* Blue color: #1E88E5   */

/*-------------------------*/

/* ------------------------------------------------------ */
/* BASIC SETUP*/
/* ------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #555;
  text-rendering: optimizeLegibility;
}

/* ------------------------------------------------------ */
/* REUSABLE COMPONENTS*/
/* ------------------------------------------------------ */

h1 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 40px 0 20px 200px;
  float: left;
  color: #fff;
}

h2 {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 170%;
  word-spacing: 2px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #1e88e5;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 120%;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 6%;
}

section {
  padding: 80px 0;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.box {
  padding: 1%;
}

p {
  font-size: 95%;
}

/* ------------------------------------------------------ */
/*  LINKS  */
/* ------------------------------------------------------ */

a:link,
a:visited {
  color: #1e88e5;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #1e88e5;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ------------------------------------------------------ */
/*  BUTTONS  */
/* ------------------------------------------------------ */

.btn:link,
.btn:visited,
input[type="submit"],
input[type="button"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"],
input[type="button"] {
  background-color: #1e88e5;
  border: 1px solid #1e88e5;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #1e88e5;
  color: #1e88e5;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:active {
  background-color: #1776ca;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"],
input[type="button"] {
  border: 1px solid #1e88e5;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #1e88e5;
  color: #fff;
}

/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */

.header-views {
  background-color: #fff;
}

/* ------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------ */

footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
  font-size: 150%;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-instagram {
  transition: color 0.2s;
}

.ion-logo-facebook:hover {
  color: #3b5998;
}

.ion-logo-twitter:hover {
  color: #55acee;
}

.ion-logo-instagram:hover {
  color: #fccc63;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
