/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */

.header-on-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.8)),
    url("/assets/resources/img/Bookshelf.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.logo {
  margin-left: 0;
  margin-top: 3.5%;
  font-size: 180%;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  color: #fff;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 7px 0;
  color: #fff;
  text-decoration: none;
  font-size: 105%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #1e88e5;
}

.bookshelf {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  position: relative;
  padding-top: 10%;
}

.bookshelf h1 {
  font-size: 195%;
}

/* ------------------------------------------------------ */
/* OFFERS */
/* ------------------------------------------------------ */

.section-offers {
  padding: 80px 0;
  background-color: #eaeaea;
}

/* ------------------------------------------------------ */
/*  ICONS  */
/* ------------------------------------------------------ */

.icon-big {
  font-size: 180%;
  display: block;
  color: #1e88e5;
  margin-bottom: 10px;
}

/* ------------------------------------------------------ */
/*  FORM  */
/* ------------------------------------------------------ */

/* REGISTER FORM */
.register-form {
  position: absolute;
}

/* LOGIN FORM */

/* The popup form - hidden by default */
.login-popup {
  display: none;
  position: fixed;
  top: 10px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
